@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h1 id="salute" class="text-center"></h1> 
    </div>
   <div class="row">
       <div class="col-md-4">
        <h2 id="locale" style="padding: 50px;"></h2>
       </div>
       <div id="banner" class="col-md-8"></div>
   </div>
   <div class="row">
       <div class="col-md-4"></div>
       <div class="col-md-4"><button type="button" class="btn btn-primary" onclick="loadGreeting()">Howdy!</button></div>
       <div class="col-md-4"></div>
   </div>
   <script>
function loadGreeting() {
var xhttp = new XMLHttpRequest();
 
 xhttp.onreadystatechange = function() {
   if (xhttp.readyState == 4 && xhttp.status == 200) {
     // Convert the text response to a JSON object
     var obj = JSON.parse(xhttp.responseText);
     document.getElementById("salute").innerHTML = obj.salute;
 document.getElementById("locale").innerHTML = "Locale: " + obj.locale;
 document.getElementById("banner").innerHTML = '<img id="banner" style="padding:50px;" src="http://tsinclair-greetapi.azurewebsites.net/images/' + obj.banner + '" alt=""></img>';
   }
 };
 xhttp.open("GET", "http://tsinclair-greetapi.azurewebsites.net/api/values", true);
// NOTE: Substitute your own API URL for the above.
 
 xhttp.send();
 document.getElementById("salute").innerHTML = obj.salute;
 document.getElementById("locale").innerHTML = "Locale: " + obj.locale;
 document.getElementById("banner").innerHTML = '<img id="banner" style="padding:50px;" src="http://tsinclair-greetapi.azurewebsites.net/images/' + obj.banner + '" alt=""></img>';
};
 
 
</script>
</div>
